@font-face {
    font-family: 'SansSerif';
    src: url('Besley-it-Book.ttf') format('truetype');
}
button{
 text-align: center;
 border-radius: 10px;
 border : none;
}
.A {
width : 90vw;
height:40vh;
background: #30A9DE; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:5vh;
}
.B {
width : 90vw;
height:40vh;
background: #E53A40;
display: block;
margin-left: auto;
margin-right: auto;
    margin-bottom:5vh;
}
.answerA{
background-color: #30A9DE; 
}
.answerB{
background-color: #E53A40; 
}
.h1answer{
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
transform: translateY(-50%);
font-family: 'SansSerif';
}